In [2]:
import pandas as pd
from nba_api.stats.endpoints import playerfantasyprofile,playerdashboardbyteamperformance,leaguedashplayerstats

def update(year):
    season_string = str(year-1) +'-'+str(year)[-2::]
    print(season_string)
    frames = leaguedashplayerstats.LeagueDashPlayerStats(season=season_string).get_data_frames()
    df = frames[0]
    df['year'] = year
    df['GROUP_SET'] = 'Players'
    df = df.drop(columns=['TEAM_ABBREVIATION','AGE'])
    old = pd.read_csv('player_index.csv')
    old = old[old.year!=year]
    to_save = pd.concat([old,df])
    return to_save
df=update(2024)
df.to_csv('player_index.csv')

2023-24

C:\Users\gaber\AppData\Local\Temp\ipykernel_11644\2837269876.py:12: DtypeWarning: Columns (69) have mixed types. Specify dtype option on import or set low_memory=False.
  old = pd.read_csv('player_index.csv')

In [3]:
df

,Unnamed: 0.1,Unnamed: 0,GROUP_SET,PLAYER_ID,PLAYER_NAME,NICKNAME,GP,W,L,W_PCT,...,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,year,TEAM_ID,Offensive Archetype,Defensive Role
0,0.0,0.0,Players,673,Alan Henderson,Alan,30,20,10,0.667,...,9,17,10,4,2,10,1997,1610612737,NaN,NaN
1,1.0,1.0,Players,292,Anthony Miller,Anthony,1,0,1,0.000,...,16,12,16,7,2,16,1997,1610612737,NaN,NaN
2,2.0,2.0,Players,363,Christian Laettner,Christian,82,56,26,0.683,...,1,2,3,2,2,2,1997,1610612737,NaN,NaN
3,3.0,3.0,Players,241,Darrin Hancock,Darrin,14,11,3,0.786,...,15,9,15,7,2,15,1997,1610612737,NaN,NaN
4,4.0,4.0,Players,308,Derrick Alston,Derrick,2,1,1,0.500,...,16,10,17,7,2,17,1997,1610612737,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,NaN,NaN,Players,1628380,Zach Collins,Zach,30,5,25,0.167,...,92,508,77,85,13,76,2024,1610612759,NaN,NaN
513,NaN,NaN,Players,203897,Zach LaVine,Zach,18,5,13,0.278,...,99,467,158,171,13,143,2024,1610612741,NaN,NaN
514,NaN,NaN,Players,1630192,Zeke Nnaji,Zeke,27,21,6,0.778,...,294,465,289,171,13,294,2024,1610612743,NaN,NaN
515,NaN,NaN,Players,1630533,Ziaire Williams,Ziaire,28,10,18,0.357,...,200,493,218,115,13,209,2024,1610612763,NaN,NaN
516,NaN,NaN,Players,1629627,Zion Williamson,Zion,26,15,11,0.577,...,38,140,48,44,13,49,2024,1610612740,NaN,NaN