In [19]:
import pandas as pd
df=pd.read_csv('2014.csv')
df[df.PLAYER_ID==2544]

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,CATCH_SHOOT_FG_PCT,POST_TOUCH_FG_PCT,ELBOW_TOUCH_FG_PCT,POST_TOUCH_PTS,PAINT_TOUCH_FG_PCT,ELBOW_TOUCH_PTS,PAINT_TOUCH_PTS,CATCH_SHOOT_PTS,year,date
258,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,0.667,0.667,0.000,4,1.000,0,4,5,2014,20140426
331,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,0.500,0.667,0.000,12,0.500,0,2,7,2014,20140428
524,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,0.200,1.000,0.000,6,1.000,0,4,3,2014,20140420
791,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,0.000,1.000,1.000,2,0.000,2,2,0,2014,20140423
1309,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,1.000,0.400,1.000,4,0.667,2,4,4,2014,20140506
1356,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,0.167,0.000,0.000,0,1.000,1,7,2,2014,20140508
1404,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,0,1,0.0,...,0.500,1.000,0.000,2,0.000,0,4,8,2014,20140510
1452,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,1.000,0.000,0.500,4,1.000,2,8,9,2014,20140512
1493,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,0.400,0.000,1.000,2,0.667,4,6,6,2014,20140514
1529,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,0,1,0.0,...,0.200,0.667,1.000,4,0.667,3,4,2,2014,20140518
1549,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,0.500,1.000,1.000,4,1.000,8,4,7,2014,20140520
1569,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,0.500,1.000,0.000,8,1.000,0,4,4,2014,20140524
1589,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,1.000,0.000,0.667,0,1.000,4,4,3,2014,20140526
1607,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,0,1,0.0,...,0.000,0.000,0.000,0,1.000,0,2,0,2014,20140528
1633,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,0.667,0.000,0.000,0,1.000,2,2,4,2014,20140530
1651,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,0,1,0.0,...,0.000,0.667,1.000,4,0.500,2,2,0,2014,20140605
1670,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,1,0,1.0,...,1.000,0.000,1.000,0,1.000,6,8,2,2014,20140608
1694,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,0,1,0.0,...,0.000,1.000,1.000,2,1.000,2,2,0,2014,20140610
1720,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,0,1,0.0,...,0.200,0.000,1.000,1,1.000,3,4,3,2014,20140612
1745,2544,LeBron James,LeBron,1610612748,MIA,29.0,1,0,1,0.0,...,0.000,1.000,1.000,4,1.000,2,4,0,2014,20140615

In [15]:
df=df[['VTM','HTM','GAME_DATE']]
df.drop_duplicates()

      VTM  HTM  GAME_DATE
0     CHA  MIA   20140420
76    CHA  MIA   20140423
143   MIA  CHA   20140426
226   MIA  CHA   20140428
304   BKN  MIA   20140506
378   BKN  MIA   20140508
449   MIA  BKN   20140510
517   MIA  BKN   20140512
587   BKN  MIA   20140514
654   MIA  IND   20140518
732   MIA  IND   20140520
799   IND  MIA   20140524
867   IND  MIA   20140526
936   MIA  IND   20140528
1011  IND  MIA   20140530
1087  MIA  SAS   20140605
1165  MIA  SAS   20140608
1235  SAS  MIA   20140610
1297  SAS  MIA   20140612
1368  MIA  SAS   20140615