In [23]:
import pandas as pd
from nba_api.stats.endpoints import playerfantasyprofile,playerdashboardbyteamperformance,leaguedashplayerstats

def update(year):
    season_string = str(year-1) +'-'+str(year)[-2::]
    print(season_string)
    frames = leaguedashplayerstats.LeagueDashPlayerStats(season=season_string).get_data_frames()
    df = frames[0]
    df['year'] = year
    df['GROUP_SET'] = 'Players'
    df = df.drop(columns=['TEAM_ABBREVIATION','AGE'])
    old = pd.read_csv('data/player_index.csv')
    to_save = pd.concat([old,df])
    return to_save
df=update(2024)
df

2023-24

C:\Users\gaber\AppData\Local\Temp\ipykernel_22420\1471409496.py:12: DtypeWarning: Columns (67) have mixed types. Specify dtype option on import or set low_memory=False.
  old = pd.read_csv('data/player_index.csv')

,GROUP_SET,PLAYER_ID,PLAYER_NAME,NICKNAME,GP,W,L,W_PCT,MIN,FGM,...,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,year,TEAM_ID,Offensive Archetype,Defensive Role
0,Players,673,Alan Henderson,Alan,30,20,10,0.667,498.358333,77,...,9,17,10,4,2,10,1997,1610612737,NaN,NaN
1,Players,292,Anthony Miller,Anthony,1,0,1,0.000,13.700000,0,...,16,12,16,7,2,16,1997,1610612737,NaN,NaN
2,Players,363,Christian Laettner,Christian,82,56,26,0.683,3133.660000,548,...,1,2,3,2,2,2,1997,1610612737,NaN,NaN
3,Players,241,Darrin Hancock,Darrin,14,11,3,0.786,87.995000,13,...,15,9,15,7,2,15,1997,1610612737,NaN,NaN
4,Players,308,Derrick Alston,Derrick,2,1,1,0.500,10.600000,0,...,16,10,17,7,2,17,1997,1610612737,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,Players,1628380,Zach Collins,Zach,15,3,12,0.200,444.695000,86,...,63,458,66,79,8,62,2024,1610612759,NaN,NaN
474,Players,203897,Zach LaVine,Zach,15,5,10,0.333,533.261667,107,...,24,449,40,117,8,34,2024,1610612741,NaN,NaN
475,Players,1630192,Zeke Nnaji,Zeke,15,10,5,0.667,164.675000,20,...,276,425,279,117,8,282,2024,1610612743,NaN,NaN
476,Players,1630533,Ziaire Williams,Ziaire,13,3,10,0.231,325.566667,41,...,172,469,186,79,8,178,2024,1610612763,NaN,NaN
477,Players,1629627,Zion Williamson,Zion,12,7,5,0.583,376.211667,109,...,48,185,69,46,8,68,2024,1610612740,NaN,NaN

In [19]:
df

,GROUP_SET,PLAYER_ID,PLAYER_NAME,NICKNAME,GP,W,L,W_PCT,MIN,FGM,...,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,year,TEAM_ID,Offensive Archetype,Defensive Role
0,Players,673,Alan Henderson,Alan,30,20,10,0.667,498.358333,77,...,9,17,10,4,2,10,1997,1610612737,NaN,NaN
1,Players,292,Anthony Miller,Anthony,1,0,1,0.000,13.700000,0,...,16,12,16,7,2,16,1997,1610612737,NaN,NaN
2,Players,363,Christian Laettner,Christian,82,56,26,0.683,3133.660000,548,...,1,2,3,2,2,2,1997,1610612737,NaN,NaN
3,Players,241,Darrin Hancock,Darrin,14,11,3,0.786,87.995000,13,...,15,9,15,7,2,15,1997,1610612737,NaN,NaN
4,Players,308,Derrick Alston,Derrick,2,1,1,0.500,10.600000,0,...,16,10,17,7,2,17,1997,1610612737,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,Players,1628380,Zach Collins,Zach,15,3,12,0.200,444.695000,86,...,63,458,66,79,8,62,2024,1610612759,NaN,NaN
474,Players,203897,Zach LaVine,Zach,15,5,10,0.333,533.261667,107,...,24,449,40,117,8,34,2024,1610612741,NaN,NaN
475,Players,1630192,Zeke Nnaji,Zeke,15,10,5,0.667,164.675000,20,...,276,425,279,117,8,282,2024,1610612743,NaN,NaN
476,Players,1630533,Ziaire Williams,Ziaire,13,3,10,0.231,325.566667,41,...,172,469,186,79,8,178,2024,1610612763,NaN,NaN
477,Players,1629627,Zion Williamson,Zion,12,7,5,0.583,376.211667,109,...,48,185,69,46,8,68,2024,1610612740,NaN,NaN

In [20]:
old = pd.read_csv('data/player_index.csv')
old

C:\Users\gaber\AppData\Local\Temp\ipykernel_22420\3321519856.py:1: DtypeWarning: Columns (67) have mixed types. Specify dtype option on import or set low_memory=False.
  old = pd.read_csv('data/player_index.csv')

,GROUP_SET,PLAYER_ID,PLAYER_NAME,NICKNAME,GP,W,L,W_PCT,MIN,FGM,...,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,WNBA_FANTASY_PTS_RANK,year,TEAM_ID,Offensive Archetype,Defensive Role
0,Players,673,Alan Henderson,Alan,30,20,10,0.667,498.358333,77,...,9,17,10,4,2,10,1997,1610612737,NaN,NaN
1,Players,292,Anthony Miller,Anthony,1,0,1,0.000,13.700000,0,...,16,12,16,7,2,16,1997,1610612737,NaN,NaN
2,Players,363,Christian Laettner,Christian,82,56,26,0.683,3133.660000,548,...,1,2,3,2,2,2,1997,1610612737,NaN,NaN
3,Players,241,Darrin Hancock,Darrin,14,11,3,0.786,87.995000,13,...,15,9,15,7,2,15,1997,1610612737,NaN,NaN
4,Players,308,Derrick Alston,Derrick,2,1,1,0.500,10.600000,0,...,16,10,17,7,2,17,1997,1610612737,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14495,Players,1629023,P.J. Washington,P.J.,73,24,49,0.329,2379.563333,434,...,2,19,2,5,2,2,2023,1610612766,Stationary Shooter,Helper
14496,Players,1629004,Svi Mykhailiuk,Svi,19,8,11,0.421,427.945000,71,...,14,1,15,13,2,16,2023,1610612766,Movement Shooter,Low Activity
14497,Players,1626179,Terry Rozier,Terry,63,19,44,0.302,2220.926667,493,...,1,18,1,9,2,1,2023,1610612766,Primary Ball Handler,Point of Attack
14498,Players,1630177,Theo Maledon,Theo,44,14,30,0.318,853.656667,102,...,11,11,11,9,2,11,2023,1610612766,Secondary Ball Handler,Wing Stopper
14499,Players,1630270,Xavier Sneed,Xavier,4,0,4,0.000,48.226667,5,...,18,4,18,13,2,18,2023,1610612766,Low Minute,Low Minute

In [22]:
set(old.columns)-set(df.columns)

set()